:root {
    --sans-font: "Recursive Sans Casual Static", sans-serif;
    --mono-font: "Recursive Mono Casual Static", monospace;
    --strong-color: #90ff00; /* Color for Bold*/
    --em-color: #ff82b2;
    --heading1: tomato;
    --heading2: #c4e223;
    --heading3: #00FF80;
    --heading4: #ffa500;
    --heading5: #10e7fd;
}

body {
    background-color: #333; /* Dark background */
    color: #fff; /* Light text color */
    font-family: var(--sans-font);
    line-height: 1.6;
    margin: 20px;
    padding: 0;
}

h1 {
    text-align: center;
    color: var(--heading1);
}

em {
    color: var(--em-color);
}
strong {
    color: var(--strong-color);
}


.container {
    min-width: 80%;
    max-width: 85%; /* Adjust as needed */
    margin: 0 auto;
}

.flex-container {
    display: flex; /* Use flexbox for layout */
}

.sidebar {
    width: 20%; /* Adjust width as needed */
    background-color: #444; /* Dark gray background */
    padding: 20px;
    min-width: 20%;
}

.sidebar h2 {
    font-size: 1.5em; /* Larger font size for sidebar heading */
    margin-bottom: 10px;
    color: #fff; /* Light text color */
}

.sidebar ul {
    list-style-type: none; /* Remove default list styles */
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

a {
    color: #4caf50; /* Light green link color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main-content {
    max-width: 75%; /* 75% of parent_container : .container */
    flex: 1; /* Take remaining space in container */
    padding-left: 20px; /* Add space between sidebar and main content */
}

.markdown-content {
    margin-top: 20px;
}

/* Limit max width of images within .markdown-content */
.markdown-content img {
    max-width: 100%; /* Images will not exceed the width of their container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure images don't cause layout issues */
    margin: 0 auto; /* Center align images */
}

/* Example table styling */
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #666; /* Dark border color */
}

table, th, td {
    border: 1px solid #666; /* Dark border color */
    padding: 8px;
}

th {
    background-color: #555; /* Dark background for table headers */
    color: #fff; /* Light text color */
    text-align: left;
}

/***********************************************
 *             BLOCKQUOTE
 **********************************************/
blockquote{
    background-color: #202424;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    margin: 1em; 
    font-style: italic;
}

/**********************************************
*              Code Blocks  
 ******************************************/
pre, code {
    font-family: var(--mono-font);
    background-color: #444; /* Dark gray background for code */
    color: #f8f8f2; /* Light text color for code */
    border-radius: 4px; /* Rounded corners */
}

/* Inline code styling */
code {
    padding: 3px 6px; /* Small padding for inline code */
    font-size: 90%; /* Slightly smaller font size */
    color: #ff82b2;
}

/* Code block styling */
pre {
    padding: 10px; /* Padding for code blocks */
    overflow-x: auto; /* Enable horizontal scrolling for long code lines */
    max-width: 100%;
    border-radius: 5px;
}

pre code {
    display: block; /* Ensure code inside pre is block level */
}

pre::-webkit-scrollbar-thumb {
    background: #555; /* Color of the scrollbar */
    border-radius: 4px; /* Rounded corners */
}

pre::-webkit-scrollbar-thumb:hover {
    background: #666; /* Hover state of the scrollbar */
}
