<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Markdown Notes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Markdown Notes</h1>
        <div>
            <ul>
            {% for file in files %}
                <li><a href="/note/{{ file }}">{{ file }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
